global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'kafka-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['kafka-exporter:9308']
      
  - job_name: 'traffic_consumers'
    static_configs:
      - targets: 
        - 'consumer-sut:9101'
        - 'consumer-recalc:9102'
        - 'consumer-sliding-window:9103'